h1 {
    color: rgb(189, 189, 248); 
    font-family: verdana, serif; 
    background-color: white;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  h1#site-title {
    font size: 72px;
    letter-spacing: -3px; 
    margin-top: 0; 
    margin-bottom: .125em; 
    text-align: center; 
  }

  h1#article-title {
     font-size: 48px; 
  }

  figure img {
  border: 1px solid black;
  max-width: 100%; 
  height: auto; 
  } 

  figure.main-image {
   background: papayawhip; 
   border-color: rgb(214, 175, 207); 
   color: #ffff; 
  }

  figure.section-image {
  margin-bottom: 32px;
  max-width: auto;
  height: auto; 
  }
  
  figure.section-image.odd {
    float: right; 
    margin-left: 20px;
  }

  figure.section-image.even {
   float: left; 
   margin-right: 20px; 
  }

  p img {
    float: center; 
    max-width: 60%; 
    margin-left: 20px;
    margin-bottom: 32px; 
  }
  
  nav ul li {
    list-style: none;
    padding-left: 0;
    border: 1px solid black
  }

  @media all and (min-width: 376px) {
   nav ul {
    display: flex;
    justify-content: center;
    gap: 30px; 
  } 
  }

a { 
  font-weight: normal; 
  color: rgb(184, 245, 167); 
}
  
ul li a{
text-decoration: none;
}

ul li a:hover {
    text-decoration:underline; 
}

.container{
  padding: 12px 0;
  width: 96%;
  max-width: 600px;
  margin: 0 auto;
}

#message {
  background: #E9FFE4;
  border: 1px solid #178201;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}

#message.dismissed {
  opacity: 0;
  height: 0;
}

#message button {
  float: right;
}

#message {
  background: E9FFE4;  
  opacity: 1; 
  transition: opacity .2s ease; 
}

#message.dismissed {
  opacity: 0;
}